#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: aliceblue;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  padding: .75rem;
  width: 100%;
  text-align: center;
}

.table{
  width: 100%;
  padding: 2rem;
}
tr{
  text-align: left;
}
td {
  width: 20%;
  text-align: left;
  vertical-align: left;
}
